*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; 
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul, li {
    list-style-type: none;
}
a, a:hover {
    text-decoration: none;
}

/* header */
.header {
    padding: 15px 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #000000;
    margin: 0;
}

.wrapper {
    padding: 0 30px;
}

.header > .wrapper {
    height: 50px;
}

.navbar-brand{
    padding: 0;
}

.hd-navbar > ul {
    list-style: none;
}

.hd-navbar > ul > li > a {
    text-transform: uppercase;
    padding: 5px 0;
    color: #ffffff;
    margin-right: 15px;
    align-items: center;
    line-height: 50px;
    position: relative;
}

li > a::after {
    content: '';
    display: block;
    border-bottom: 1px solid #ffffff;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: 1s ease;
    width: 0;
}

li > a:hover:after,
li.active > a::after{
    width: 100%;
}

li.drop {
    position: relative;
}

ul.navbar-nav > li.drop:hover > ul {
    display: block;
}

li.drop > ul {
    display: none;
    position: absolute;
    bottom: 10px;
    width: 100%;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: 200;
}

li.drop > ul > li {
    padding: 10px 15px;
    align-items: center;
    line-height: 20px;
    width: 100%;
    background-color: #ffffff;
}

li.drop > ul > li > a {
    text-transform: uppercase;
    color: #000000;
}

li.drop > ul > li:not(:last-child) {
    border-bottom: 1px dashed #000000;
}

.slider-main {
    background-color: black;
    height: 625px;
    position: absolute;
    overflow: hidden;
    margin-top: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

div.video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.2);
}

div.video > video {
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: baseline;
    width: 100%;
    height: 625px;
}

main {
    padding-top: 625px;
}

.home-policy,
.home-banner {
    padding: 30px 0;
}

.policy-item {
    padding-left: 30px;
    vertical-align: top;
}

.policy-text > a{
    border: 1px solid #000000;
    padding: 15px;
    color: #000000;
    font-weight: bold;
}

.home-product {
    padding-top: 30px;
}

.content > p {
    font-size: 14px;
}

.banner-img > a > img{
    transform: scale(1);
}

h3.section-title {
    position: relative;
    margin: 0 0 30px;
}

h3.section-title::after{
    content: '';
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 3px;
    background-color: #000000;
    width: 120px;
}

.button {
    text-align: center;
    margin-bottom: 30px;
}

.button > button {
    outline: none;
    border: none;
    background-color: #aaaaaa;
    padding: 5px;
    text-transform: uppercase;
}

button.active {
    color: #ffffff;
    background-color: #000;
}

.product-tab {
    margin-bottom: 30px;   
}

.product-item {
    padding: 5px;
    position: relative;
}

.product-img {
    position: relative;
    margin-bottom: 5px;
}

.product-img > a {
    display: block;
    overflow: hidden;
}

.product-img > a img {
    width: 100%;
}

.product-info {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
}

.product-title {
    margin-bottom: 5px;
}

.product-title > a {
    display: inline-block;
    font-weight: bold;
    color: #000;
}

.product-price > span.current-price {
    color: #d30000;
    display: inline-block;
    font-weight: bold;
}

.product-text {
    color: #000000;
    text-transform: uppercase;
    display: block;
}

.product-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
    overflow: hidden;
}

.product-action > div {
    display: inline-block;
    padding: 5px 0;
    margin: 0 auto;
}

.product-action > div > button {
    padding: 5px;
    color: #ffffff;
    background-color: #000000;
    outline: none;
    border: none;
    transition: all 0.6s ease;
    overflow: hidden;
}

.product-action > div > button:first-child {
    transform: translateX(-150px);
}

.product-action > div > button:nth-child(2) {
    transform: translateY(150px);
}

.product-action > div > button:last-child {
    transform: translateX(150px);
}

.product--hover {
    position: absolute;
    z-index: 9;
    bottom: -30px;
    right: -1px;
    left: -1px;
    padding: 5px;
    display: none;
    border: 1px solid transparent;
    display: none;
}

.product-item:hover {
    border: 1px solid #e6e6e6;
    border-bottom: 0;
}

.product-item:hover .product-img .product-action button {
    transform: translate(0);
}

.product-item:hover .hd{
    visibility: hidden;
}

.product-item:hover .product--hover {
    display: block;
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.product-item:hover .product-tab {
    border: 1px solid #e6e6e6;
}

footer {
    padding-top: 30px;
    border-top: 1px solid #e6e6e6;
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
}

h4 {
    font-weight: bold;
    font-size: 15px;
}

footer .ft-content .ft-contact > div {
    margin-bottom: 10px;
}

footer .ft-content a {
    display: inline-block;
    color: #000000;
    position: relative;
}

footer .ft-content a::after {
    content: '';
    display: block;
    border-bottom: 1px solid #000000;
    width: 0;
    left: 0;
    position: absolute;
    transition: 1s ease;
}

footer .ft-content .ft-contact .ft-contact-img a::after {
    display: none;
}

footer .ft-content a:hover::after{
    color: #000000;
    width: 100%;
}

.ft-sub-desc {
    margin-bottom: 15px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group > input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 0;
}

.input-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: table-cell;
}

.input-btn > button {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    background-color: #000000;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 18px;
}

.ft-copy {
    background-color: #000000;
    padding: 15px 0;
    color: #ffffff;
    text-transform: uppercase;
}

.ft-copy a {
    color: #ffffff;
    text-transform: uppercase;
}

.fb-ibox {
    background-color: #e6e6e6;
    height: 50px;
}

.fb-ibox > button{
    border: none;
    background-color: #e6e6e6;
}

.fixed-network {
    position: fixed;
    top: 25%;
    right: -120px;
    z-index: 888;
}

.fixed-network > a {
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 15px;
    display: block;
    width: 170px;
    transform: translateX(0);
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.fixed-network > a:hover {
    transform: translateX(-120px);
}

.fixed-network > a > i {
    margin-right: 20px;
}

.fixed-network > a.fb-icon {
    background-color: #3B5998;
    color: #ffffff;
}

.fixed-network > a.top-icon {
    background-color: #000000;
    color: #ffffff;
}
